<clr-header>
    <div class="branding">
        <a class="nav-link" href="#" (click)="closeHamburger()" [routerLink]="['/home']">
            <clr-icon shape="eye" size="md"></clr-icon>
            <span class="header-logo-separator"></span>
            <span class="title">D-CreAE Card Games</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
        <clr-dropdown class="dropdown-nav">
            <span class="dropdown-trigger-wrapper" [ngClass]="{active: activeMenu===1}">
                <button type="button" class="btn btn-outline-primary" clrDropdownTrigger (click)="activeMenu=1">
                    Games <clr-icon shape="caret down"></clr-icon>
                </button>
            </span>
            <clr-dropdown-menu *clrIfOpen>
                <a href="#" [routerLink]="['/games/create']" (click)="closeHamburger()" clrDropdownItem>Create</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown class="dropdown-nav">
            <span class="dropdown-trigger-wrapper" [ngClass]="{active: activeMenu===2}">
                <button type="button" class="btn btn-outline-primary" clrDropdownTrigger (click)="activeMenu=2">
                    Other <clr-icon shape="caret down"></clr-icon>
                </button>
            </span>
            <clr-dropdown-menu *clrIfOpen>
                <a href="#" [routerLink]="['/games/create']" (click)="closeHamburger()" clrDropdownItem>Create</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown class="dropdown-nav">
            <span class="dropdown-trigger-wrapper" [ngClass]="{active: activeMenu===2}">
                <button type="button" class="btn btn-outline-primary" clrDropdownTrigger (click)="activeMenu=2">
                    Other <clr-icon shape="caret down"></clr-icon>
                </button>
            </span>
            <clr-dropdown-menu *clrIfOpen>
                <a href="#" [routerLink]="['/games/create']" (click)="closeHamburger()" clrDropdownItem>Create</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        <clr-dropdown class="dropdown-nav">
            <span class="dropdown-trigger-wrapper" [ngClass]="{active: activeMenu===2}">
                <button type="button" class="btn btn-outline-primary" clrDropdownTrigger (click)="activeMenu=2">
                    Other <clr-icon shape="caret down"></clr-icon>
                </button>
            </span>
            <clr-dropdown-menu *clrIfOpen>
                <a href="#" [routerLink]="['/games/create']" (click)="closeHamburger()" clrDropdownItem>Create</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
    
</clr-header>