<!-- <*--<div class="clr-col-12">
  <div class="content-area">
    <div class="card">
      <div class="card-block">
        <div class="clr-row" style="margin-bottom: 1rem">
          <div class="clr-col-6">
            <div class="card" style="height: 100%">
              <div class="card-header">Edit Deck's Info</div>
              <div class="card-block">
                <form clrForm>
                  <clr-input-container>
                    <label>Name</label>
                    <input
                      clrInput
                      name="name"
                      style="margin-left: 1rem"
                      type="text"
                      placeholder="name..."
                      [(value)]="deckRequest.name"
                      [(ngModel)]="deckRequest.name"
                      required
                    />
                    <clr-control-error>item necessário!</clr-control-error>
                  </clr-input-container>
                  <clr-textarea-container>
                    <label>Description</label>
                    <textarea
                      clrTextarea
                      class="input-no-space"
                      placeholder="description"
                      [(ngModel)]="deckRequest.description"
                      name="deckRequest.description"
                      required
                    ></textarea>
                    <clr-control-error>item necessário!</clr-control-error>
                  </clr-textarea-container>
                  <clr-input-container>
                    <label>Deck Color</label>
                    <input clrInput class="color-picker" [(colorPicker)]="deckRequest.color" [style.background]="deckRequest.color" />
                  </clr-input-container>
                </form>
              </div>
            </div>
          </div>

          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">Select a Deck</div>
              <div class="card-block">
                <div class="clr-row">
                  <div *ngFor="let d of decks; let i = index" id="{{ 'deck-' + i }}" class="clr-col-2 btn-deck-wrapper">
                    <button
                      [ngStyle]="{ 'background-color': decks[i].color }"
                      class="btn btn-primary btn-deck horizontal-center-input"
                      (click)="selectDeck(i)"
                    ></button>
                    {{ d.name }}
                  </div>
                </div>
              </div>
            </div>
            <*-- cards! --*
            <div class="card">
              <div class="card-header">Cards From This Deck</div>
              <div class="card-clock">
                <clr-datagrid>
                  <clr-dg-column>Title</clr-dg-column>
                  <clr-dg-column>Description</clr-dg-column>
                  <clr-dg-column>Cost</clr-dg-column>
                  <clr-dg-column>Level</clr-dg-column>
                  <clr-dg-column>Earning</clr-dg-column>

                  <clr-dg-row *clrDgItems="let card of deckRequest.cards">
                    <clr-dg-cell>{{ card.title }}</clr-dg-cell>
                    <clr-dg-cell>{{ card.description }}</clr-dg-cell>
                    <clr-dg-cell>{{ card.cost }}</clr-dg-cell>
                    <clr-dg-cell>{{ card.level }}</clr-dg-cell>
                    <clr-dg-cell>{{ card.earning }}</clr-dg-cell>
                  </clr-dg-row>

                  <clr-dg-footer>{{ deckRequest.cards.length }} cards</clr-dg-footer>
                </clr-datagrid>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-6">
            <div class="card" style="height: 98%">
              <div class="card-header">Card's Front</div>
              <div class="card-block">
                <div class="card-wrapper" [ngStyle]="{ 'background-color': deckRequest.color }">
                  <div class="card-margins">
                    <div class="card-game-header">card title</div>
                    <div class="card-game-body">
                      <div class="card-art" *ngIf="deckRequest.cardFrontFields['art'].checked">card art</div>
                      <div class="card-description">card description</div>
                      <div class="card-effect" *ngIf="deckRequest.cardFrontFields['effect'].checked">card effect</div>
                    </div>
                    <div class="card-game-footer">
                      <*-- cost --*
                      <div class="float-items-right clr-col-4" *ngIf="deckRequest.cardFrontFields['cost'].checked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.87" height="26.87" viewBox="0 0 26.87 26.87">
                          <g
                            id="Retângulo_28"
                            data-name="Retângulo 28"
                            transform="translate(0 13.435) rotate(-45)"
                            fill="#e5ee9a"
                            stroke="#707070"
                            stroke-width="3"
                          >
                            <rect width="19" height="19" stroke="none" />
                            <rect x="1.5" y="1.5" width="16" height="16" fill="none" />
                          </g>
                        </svg>
                      </div>

                      <*-- level --*
                      <div
                        class="float-items-right clr-col-4"
                        *ngIf="deckRequest.cardFrontFields['level'].checked"
                        style="border-left: 1px solid #707070; border-right: 1px solid #707070"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <g id="Elipse_5" data-name="Elipse 5" fill="#956aea" stroke="#707070" stroke-width="3">
                            <circle cx="12" cy="12" r="12" stroke="none" />
                            <circle cx="12" cy="12" r="10.5" fill="none" />
                          </g>
                        </svg>
                      </div>

                      <*-- earning --*
                      <div class="float-items-right clr-col-4" *ngIf="deckRequest.cardFrontFields['earning'].checked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24">
                          <g id="Polígono_4" data-name="Polígono 4" fill="#66f9be">
                            <path
                              d="M 25.38844108581543 22.5 L 2.611559152603149 22.5 L 14 2.976958513259888 L 25.38844108581543 22.5 Z"
                              stroke="none"
                            />
                            <path
                              d="M 14 5.953907012939453 L 5.223112106323242 21 L 22.77688789367676 21 L 14 5.953907012939453 M 14 0 L 28 24 L 0 24 L 14 0 Z"
                              stroke="none"
                              fill="#707070"
                            />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <*-- choose the fields of this deck --*
                <div class="clr-row">
                  <div class="clr-col-6">
                    <clr-checkbox-container>
                      <label>Front Options</label>
                      <clr-checkbox-wrapper *ngFor="let field of deckRequest.cardFrontFields | keyvalue">
                        <input
                          type="checkbox"
                          clrCheckbox
                          name="field"
                          value="field.value.checked"
                          [(ngModel)]="field.value.checked"
                          [disabled]="field.value.type === 'required'"
                        />
                        <label>{{ field.value.name }} {{ field.value.type === "required" ? "(Required)" : "" }}</label>
                      </clr-checkbox-wrapper>
                    </clr-checkbox-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-6">
            <div class="card" style="height: 98%">
              <div class="card-header">Card's Back</div>
              <div class="card-block">
                <div class="card-wrapper" [ngStyle]="{ 'background-color': deckRequest.color }">
                  <div class="card-margins">
                    <div class="card-game-header" *ngIf="deckRequest.cardBackFields['title'].checked">card title</div>
                    <div class="card-game-body">
                      <div class="card-answers" *ngIf="deckRequest.cardBackFields['answers'].checked">answers</div>
                      <div class="card-effect" *ngIf="deckRequest.cardBackFields['effect'].checked">effects</div>
                    </div>
                    <div class="card-game-footer">
                      <*-- cost --*
                      <div class="float-items-right clr-col-4" *ngIf="deckRequest.cardBackFields['cost'].checked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.87" height="26.87" viewBox="0 0 26.87 26.87">
                          <g
                            id="Retângulo_28"
                            data-name="Retângulo 28"
                            transform="translate(0 13.435) rotate(-45)"
                            fill="#e5ee9a"
                            stroke="#707070"
                            stroke-width="3"
                          >
                            <rect width="19" height="19" stroke="none" />
                            <rect x="1.5" y="1.5" width="16" height="16" fill="none" />
                          </g>
                        </svg>
                      </div>

                      <*-- level --*
                      <div
                        class="float-items-right clr-col-4"
                        *ngIf="deckRequest.cardBackFields['level'].checked"
                        style="border-left: 1px solid #707070; border-right: 1px solid #707070"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <g id="Elipse_5" data-name="Elipse 5" fill="#956aea" stroke="#707070" stroke-width="3">
                            <circle cx="12" cy="12" r="12" stroke="none" />
                            <circle cx="12" cy="12" r="10.5" fill="none" />
                          </g>
                        </svg>
                      </div>

                      <*-- earning --*
                      <div class="float-items-right clr-col-4" *ngIf="deckRequest.cardBackFields['earning'].checked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24">
                          <g id="Polígono_4" data-name="Polígono 4" fill="#66f9be">
                            <path
                              d="M 25.38844108581543 22.5 L 2.611559152603149 22.5 L 14 2.976958513259888 L 25.38844108581543 22.5 Z"
                              stroke="none"
                            />
                            <path
                              d="M 14 5.953907012939453 L 5.223112106323242 21 L 22.77688789367676 21 L 14 5.953907012939453 M 14 0 L 28 24 L 0 24 L 14 0 Z"
                              stroke="none"
                              fill="#707070"
                            />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <*-- choose the fields of this deck --*
                <div class="clr-row">
                  <div class="clr-col-6">
                    <clr-checkbox-container>
                      <label>Back Options</label>
                      <clr-checkbox-wrapper *ngFor="let field of deckRequest.cardBackFields | keyvalue">
                        <input
                          type="checkbox"
                          clrCheckbox
                          name="field"
                          value="field.value.checked"
                          [(ngModel)]="field.value.checked"
                          [disabled]="field.value.type === 'required'"
                        />
                        <label>{{ field.value.name }} {{ field.value.type === "required" ? " (Required)" : "" }}</label>
                      </clr-checkbox-wrapper>
                    </clr-checkbox-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="clr-row">
          <div class="clr-col-10"></div>
          <div class="clr-col-2">
            <button class="btn btn-primary float-items-right">Save Deck</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
