<div class="card" style="margin: 0%">
  <div class="card-block">
    <div class="clr-col-12">
      <div class="clr-row">
        <div class="clr-col-12">
          <canvas id="canvas"></canvas>
        </div>
        <!-- <div class="boundary" [style.height.px]="innerHeight">
          <div id="start" class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado Inicial</div>
          <div class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado Setup de Jogo</div>
          <div id="end" class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado</div>
          <div class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado</div>
          <div class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado</div>
          <div class="state-box" cdkDragBoundary=".boundary" cdkDrag>Estado</div>
        </div> -->
      </div>

      <div class="clr-row">
        <div class="clr-col-12" *ngIf="editRule">
          <app-state></app-state>
        </div>
      </div>
    </div>
  </div>
</div>
