<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col-10">Regra Condicional</div>
      <div class="clr-col-2">
        <button class="btn btn-primary float-items-right" (click)="saveRule()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="clr-col-12">
      <form clrForm>
        <div class="clr-row">
          <div class="clr-col-6">
            <clr-input-container>
              <label>Label</label>
              <input
                clrInput
                name="label"
                type="text"
                placeholder="Label..."
                value="conditionalRuleRequest.label"
                [(ngModel)]="conditionalRuleRequest.label"
                required
              />

              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-select-container>
              <label>From State</label>
              <select
                clrSelect
                name="fromState"
                [(ngModel)]="conditionalRuleRequest.fromState"
              >
                <option [ngValue]="" disabled selected>select state</option>
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>

            <clr-select-container>
              <label>Otherwise State</label>
              <select
                clrSelect
                name="otherwise"
                [(ngModel)]="conditionalRuleRequest.otherwise"
              >
                <option [ngValue]="" disabled selected>select state</option>
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- conditions grid -->
  <div class="card-block">
    <div class="card">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-10">Condições</div>
          <div class="clr-col-2">
            <button
              class="btn btn-primary float-items-right"
              (click)="onAddCondition()"
            >
              Add Condition
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <clr-datagrid>
          <!-- <clr-dg-column>User ID</clr-dg-column>
                    <clr-dg-column>Name</clr-dg-column>
                    <clr-dg-column>Creation date</clr-dg-column>
                    <clr-dg-column>Favorite color</clr-dg-column> -->

          <clr-dg-row *ngFor="let c of conditionalRuleRequest.conditions">
            <clr-dg-cell>IF</clr-dg-cell>
            <clr-dg-cell>{{ c.test }}</clr-dg-cell>
            <clr-dg-cell>DO</clr-dg-cell>
            <clr-dg-cell
              >{{ c.effectIfTrue.effect }}; lasts
              {{ c.effectIfTrue.turns }}</clr-dg-cell
            >
            <clr-dg-cell>THEN GO TO STATE</clr-dg-cell>
            <clr-dg-cell>{{ c.stateIfTrue }}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer
            >{{
              conditionalRuleRequest.conditions.length
            }}
            conditions</clr-dg-footer
          >
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>

<clr-modal [(clrModalOpen)]="openCreateCondition">
  <h3 class="modal-title">Create a Condition</h3>
  <div
    class="modal-body"
    style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede"
  >
    <div class="card-block clr-col-12">
      <form clrForm>
        <div class="card clr-row">
          <div class="card-header">Test</div>
          <div class="card-block">
            <clr-textarea-container>
              <label>Condition to Test</label>
              <textarea
                clrTextarea
                [(ngModel)]="condition.test"
                name="condition.test"
                placeholder="What will be tested?"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>

            <!-- state if true -->
            <clr-select-container>
              <label>Go to State If Test True</label>
              <select
                clrSelect
                name="stateIfTrue"
                [(ngModel)]="condition.stateIfTrue"
              >
                <option [ngValue]="" disabled selected>select state</option>
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>
          </div>
        </div>

        <!-- effectIfTrue -->
        <div class="card clr-row">
          <div class="card-header">Effect if Condition is True</div>
          <div class="card-block">
            <clr-textarea-container>
              <label>Effect *</label>
              <textarea
                clrTextarea
                [(ngModel)]="condition.effectIfTrue.effect"
                name="condition.effectIfTrue.effect"
                placeholder="What happens If Tests true?"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>

            <clr-input-container>
              <label>Turns *</label>
              <input
                clrInput
                name="turns"
                type="number"
                placeholder="How long this effect lasts"
                value="condition.effectIfTrue.turns"
                [(ngModel)]="condition.effectIfTrue.turns"
                min="1"
                required
              />
              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
              <label>Pros</label>
              <input
                clrInput
                name="pros"
                type="text"
                placeholder="What this is good for?"
                value="condition.effectIfTrue.pros"
                [(ngModel)]="condition.effectIfTrue.pros"
              />
            </clr-input-container>
            <clr-input-container>
              <label>Cons</label>
              <input
                clrInput
                name="cons"
                type="text"
                placeholder="What are the drawbacks?"
                value="condition.effectIfTrue.cons"
                [(ngModel)]="condition.effectIfTrue.cons"
              />
            </clr-input-container>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary float-items-right" (click)="addCondition()">
      Add
    </button>
  </div>
</clr-modal>
