<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col-10">Regra Condicional</div>
      <div class="clr-col-2">
        <button class="btn btn-primary float-items-right" (click)="saveRule()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="clr-col-12">
      <form clrForm>
        <div class="clr-row">
          <div class="clr-col-6">
            <clr-input-container>
              <label>Label</label>
              <input
                clrInput
                name="label"
                type="text"
                placeholder="Label..."
                value="conditionalRule.label"
                [(ngModel)]="conditionalRule.label"
                required
              />

              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-select-container>
              <label>From State</label>
              <select
                clrSelect
                name="fromState"
                [(ngModel)]="conditionalRuleRequest.fromState"
              >
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>

            <clr-select-container>
              <label>Otherwise State</label>
              <select
                clrSelect
                name="otherwise"
                [(ngModel)]="conditionalRuleRequest.otherwise"
              >
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- conditions grid -->
  <div class="card-block">
    <div class="card">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-10">Condições</div>
          <div class="clr-col-2">
            <button
              class="btn btn-primary float-items-right"
              (click)="onAddCondition()"
            >
              Add
            </button>
          </div>
        </div>
      </div>
      <div class="card-block">
        <clr-datagrid>
          <!-- <clr-dg-column>User ID</clr-dg-column>
                    <clr-dg-column>Name</clr-dg-column>
                    <clr-dg-column>Creation date</clr-dg-column>
                    <clr-dg-column>Favorite color</clr-dg-column> -->

          <clr-dg-row *ngFor="let c of conditionalRuleRequest.conditions">
            <clr-dg-cell>IF</clr-dg-cell>
            <clr-dg-cell>{{ c.test }}</clr-dg-cell>
            <clr-dg-cell>DO</clr-dg-cell>
            <clr-dg-cell
              >{{ c.effectIfTrue.effect }}; lasts
              {{ c.effectIfTrue.turns }}</clr-dg-cell
            >
            <clr-dg-cell>THEN GO TO STATE</clr-dg-cell>
            <clr-dg-cell>{{ c.stateIfTrue }}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer
            >{{
              conditionalRuleRequest.conditions.length
            }}
            conditions</clr-dg-footer
          >
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>

<clr-modal [(clrModalOpen)]="openCreateCondition" [clrModalSize]="xl">
  <modal-header> Create a Condition </modal-header>
  <modal-body>
    <div class="card-block">
      <div class="clr-col-12">
        <form clrForm>
          <div class="clr-row">
            <div class="clr-col-6">
              <!-- state if true -->
              <clr-select-container>
                <label>Go To State</label>
                <select
                  clrSelect
                  name="stateIfTrue"
                  [(ngModel)]="condition.stateIfTrue"
                >
                  <option *ngFor="let st of states" [value]="st.label">
                    {{ st.label }}
                  </option>
                </select>
                <clr-control-error>item necessário!</clr-control-error>
              </clr-select-container>

              <!-- test:statement -->
              <clr-input-container>
                <label>Statement for test</label>
                <input
                  clrInput
                  name="test"
                  type="text"
                  placeholder="test..."
                  value="condition.test"
                  [(ngModel)]="condition.test"
                  required
                />
                <clr-control-error>item necessário!</clr-control-error>
              </clr-input-container>
            </div>
            <div class="clr-col-6">
              <!-- effectIfTrue -->
              <div class="card">
                <div class="card-header">Effect if Condition is True</div>
                <div class="card-block">
                  <clr-input-container>
                    <label>Effect</label>
                    <input
                      clrInput
                      name="effect"
                      type="text"
                      placeholder="effect..."
                      value="condition.effect"
                      [(ngModel)]="condition.effect"
                      required
                    />
                    <clr-control-error>item necessário!</clr-control-error>
                  </clr-input-container>
                  <clr-input-container>
                    <label>Turns</label>
                    <input
                      clrInput
                      name="turns"
                      type="number"
                      placeholder="turns..."
                      value="condition.turns"
                      [(ngModel)]="condition.turns"
                      min="1"
                      required
                    />
                    <clr-control-error>item necessário!</clr-control-error>
                  </clr-input-container>
                  <clr-input-container>
                    <label>Pros</label>
                    <input
                      clrInput
                      name="pros"
                      type="text"
                      placeholder="pros..."
                      value="condition.pros"
                      [(ngModel)]="condition.pros"
                    />
                  </clr-input-container>
                  <clr-input-container>
                    <label>Cons</label>
                    <input
                      clrInput
                      name="cons"
                      type="text"
                      placeholder="cons..."
                      value="condition.cons"
                      [(ngModel)]="condition.cons"
                    />
                  </clr-input-container>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-primary float-items-right" (click)="addCondition()">
      Add
    </button>
  </modal-footer>
</clr-modal>
