<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col-10">Regra Efeito</div>
      <div class="clr-col-2">
        <button class="btn btn-primary float-items-right" (click)="saveRule()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div class="clr-col-12">
      <form clrForm>
        <div class="clr-row">
          <div class="clr-col-6">
            <clr-input-container>
              <label>Label</label>
              <input
                clrInput
                name="label"
                type="text"
                placeholder="Label..."
                value="effectRuleRequest.label"
                [(ngModel)]="effectRuleRequest.label"
                required
              />
              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>
          </div>
          <div class="clr-col-6">
            <clr-select-container>
              <label>Go To State</label>
              <select
                clrSelect
                name="gotoState"
                [(ngModel)]="effectRuleRequest.toState"
              >
                <option [ngValue]="" disabled selected>select state</option>
                <option *ngFor="let st of states" [value]="st.label">
                  {{ st.label }}
                </option>
              </select>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-select-container>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card-block">
    <div class="card">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-10">Efeitos</div>
          <div class="clr-col-2">
            <button
              class="btn btn-primary float-items-right"
              (click)="onAddEffect()"
            >
              Add Effect
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="card-block">
        <clr-datagrid>
          <clr-dg-column>Tipo</clr-dg-column>
          <clr-dg-column>Descrição</clr-dg-column>
          <clr-dg-column>Pros</clr-dg-column>
          <clr-dg-column>Cons</clr-dg-column>
          <clr-dg-column>Counters</clr-dg-column>
          <clr-dg-column></clr-dg-column>

          <clr-dg-row *ngFor="let c of effectRule.effects">
            <clr-dg-cell>{{ c.type }}</clr-dg-cell>
            <clr-dg-cell>{{ c.description }}</clr-dg-cell>
            <clr-dg-cell>{{ c.pros }}</clr-dg-cell>
            <clr-dg-cell>{{ c.cons }}</clr-dg-cell>
            <clr-dg-cell>{{ c.counters }}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-primary float-items-right" (click)="#">
                Ver
              </button>
            </clr-dg-cell>
          </clr-dg-row>

        </clr-datagrid>
      </div> -->
    </div>
  </div>
  <div class="card-footer"></div>
</div>

<clr-modal [(clrModalOpen)]="openCreateEffect">
  <h3 class="modal-title">Create a Effect</h3>
  <div class="modal-body" style="border-top: 1px solid #dedede">
    <div class="card-block">
      <form clrForm>
        <!-- effectIfTrue -->
        <div class="clr-row">
          <div class="card-block clr-col-12">
            <clr-textarea-container>
              <label>Effect *</label>
              <textarea
                clrTextarea
                [(ngModel)]="effect.effect"
                name="effect.effect"
                placeholder="What happens If Tests true?"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>

            <clr-input-container>
              <label>Turns *</label>
              <input
                clrInput
                name="turns"
                type="number"
                placeholder="How long this effect lasts"
                value="effect.turns"
                [(ngModel)]="effect.turns"
                min="1"
                required
              />
              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
              <label>Pros</label>
              <input
                clrInput
                name="pros"
                type="text"
                placeholder="What this is good for?"
                value="effect.pros"
                [(ngModel)]="effect.pros"
              />
            </clr-input-container>
            <clr-input-container>
              <label>Cons</label>
              <input
                clrInput
                name="cons"
                type="text"
                placeholder="What are the drawbacks?"
                value="effect.cons"
                [(ngModel)]="effect.cons"
              />
            </clr-input-container>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary float-items-right" (click)="addEffect()">
      Add
    </button>
  </div>
</clr-modal>
