<div class="card">
  <div class="card-header">
    <div class="clr-row">
      <div class="clr-col-8">Regra Statement</div>
      <div class="clr-col-4"></div>
    </div>
  </div>
  <div class="card-block">
    <div class="clr-col-12">
      <form clrForm>
        <div class="clr-row">
          <!-- frente do cartão -->

          <div class="clr-col-6">
            <clr-input-container>
              <label>Label</label>
              <input
                clrInput
                name="label"
                type="text"
                placeholder="Label..."
                [(value)]="statementRuleRequest.label"
                [(ngModel)]="statementRuleRequest.label"
                required
              />
              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-textarea-container>
              <label>Descrição Simplificada</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.simplerDescription"
                name="statementRuleRequest.simplerDescription"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>
          </div>

          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">
                Regra {{ statementRuleRequest.label }} (frente)
              </div>
              <div class="card-block">
                <clr-textarea-container>
                  <label>Descrição Simplificada</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.simplerDescription"
                    name="statementRuleRequest.simplerDescription"
                    readonly
                  ></textarea>
                </clr-textarea-container>
              </div>
            </div>
          </div>

          <!-- trás do cartão -->

          <div class="clr-col-6">
            <clr-input-container>
              <label>Eu, </label>
              <input
                clrInput
                name="me"
                type="text"
                placeholder="me..."
                value="statementRuleRequest.me"
                [(ngModel)]="statementRuleRequest.me"
                required
              />
              <clr-control-error>item necessário!</clr-control-error>
            </clr-input-container>

            <clr-textarea-container>
              <label>Para</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.to"
                name="statementRuleRequest.to"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>
            <clr-textarea-container>
              <label>Dado que</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.given"
                name="statementRuleRequest.given"
              ></textarea>
            </clr-textarea-container>
            <clr-textarea-container>
              <label>Quando</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.when"
                name="statementRuleRequest.when"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>
            <clr-textarea-container>
              <label>Então</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.then"
                name="statementRuleRequest.then"
                required
              ></textarea>
              <clr-control-error>item necessário!</clr-control-error>
            </clr-textarea-container>
            <clr-textarea-container>
              <label>Senão</label>
              <textarea
                clrTextarea
                [(ngModel)]="statementRuleRequest.otherwise"
                name="statementRuleRequest.otherwise"
              ></textarea>
            </clr-textarea-container>
          </div>

          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">
                Regra {{ statementRuleRequest.label }} (trás)
              </div>
              <div class="card-block">
                <clr-input-container>
                  <label>Me,</label>
                  <input
                    clrInput
                    name="me"
                    type="text"
                    style="border: 0px"
                    [(value)]="statementRuleRequest.me"
                    [(ngModel)]="statementRuleRequest.me"
                    readonly
                  />
                </clr-input-container>
                <clr-textarea-container>
                  <label>Para</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.to"
                    name="statementRuleRequest.to"
                    readonly
                  ></textarea>
                </clr-textarea-container>
                <clr-textarea-container>
                  <label>Dado que</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.given"
                    name="statementRuleRequest.given"
                    readonly
                  ></textarea>
                </clr-textarea-container>
                <clr-textarea-container>
                  <label>Quando</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.when"
                    name="statementRuleRequest.when"
                    readonly
                  ></textarea>
                </clr-textarea-container>
                <clr-textarea-container>
                  <label>Então</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.then"
                    name="statementRuleRequest.then"
                    readonly
                  ></textarea>
                </clr-textarea-container>
                <clr-textarea-container>
                  <label>Senão</label>
                  <textarea
                    clrTextarea
                    style="border: 0px"
                    [(ngModel)]="statementRuleRequest.otherwise"
                    name="statementRuleRequest.otherwise"
                    readonly
                  ></textarea>
                </clr-textarea-container>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary float-items-right" (click)="saveRule()">
      Salvar
    </button>
  </div>
</div>
