<div class="clr-col-12">
  <div class="content-area">
    <div class="page-manual">
      <div class="clr-row" style="text-align: center">
        <div class="clr-col-12" style="margin-top: 5cm">
          <h1 style="font-size: 60px">Game Name</h1>
        </div>
        <div class="clr-col-12" style="margin-top: 3rem">
          <h2>Subtitle game</h2>
        </div>
        <div class="clr-col-12" style="margin-top: 3rem">
          <h3>Authors</h3>
        </div>
      </div>
    </div>

    <div class="page-manual">
      <div class="clr-row">
        <div class="clr-col-12">
          <div class="card card-border">
            <div class="card-header">Game Name</div>
            <div class="card-block" style="min-height: 320px">Game Description</div>
          </div>
        </div>
        <div class="clr-col-6">
          <div class="card card-border">
            <div class="card-header">Game</div>
            <div class="card-block" style="min-height: 320px">
              <p>Game details:</p>
              <ul>
                <li>Game Description</li>
                <li>audience</li>
                <li>knowledgeField</li>
                <li>requirements</li>
                <li>authors</li>
                <li>NumberPlayers: from 3 up to 7</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clr-col-6">
          <div class="card card-border">
            <div class="card-header">Game Material</div>
            <div class="card-block" style="min-height: 320px">
              <ul>
                <li>Deck 1 - 50 cards</li>
                <li>Deck 2</li>
                <li>Deck 3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
