img {
  max-width: 100%;
  max-height: 100%;
}

.vertical-center-input {
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.color-picker {
  width: 20%;
  border: 1px solid #dedede;
  border-radius: 3rem;
  margin-left: 1rem;
  margin-right: 0px;
}

.input-no-space {
  width: 100%;
  margin-left: 1rem;
  margin-right: 0px;
}

input {
  min-width: 1px;
}
