<div class="clr-col-12">
  <div class="content-area">
    <div class="clr-row">
      <div class="clr-col-8"></div>
      <div class="clr-col-4">
        <button class="btn btn-primary float-items-right" (click)="print()">Print</button>
      </div>
    </div>
    <div id="printable">
      <div class="page-manual">
        <div class="clr-row" style="text-align: center">
          <div class="clr-col-12" style="margin-top: 5cm">
            <h1 style="font-size: 60px">Game Name</h1>
          </div>
          <div class="clr-col-12" style="margin-top: 3rem">
            <h2>Subtitle game</h2>
          </div>
          <div class="clr-col-12" style="margin-top: 3rem">
            <h3>Authors</h3>
          </div>
        </div>
      </div>

      <div class="page-manual">
        <div class="clr-row">
          <div class="clr-col-12">
            <div class="card card-border">
              <div class="card-header">Game Name</div>
              <div class="card-block" style="min-height: 320px">Game Description</div>
            </div>
          </div>
          <div class="clr-col-6">
            <div class="card card-border">
              <div class="card-header">Game Details</div>
              <div class="card-block" style="min-height: 320px">
                <ul>
                  <li>Game Description</li>
                  <li>audience</li>
                  <li>knowledgeField</li>
                  <li>requirements</li>
                  <li>authors</li>
                  <li>NumberPlayers: from 3 up to 7</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clr-col-6">
            <div class="card card-border">
              <div class="card-header">Game Material</div>
              <div class="card-block" style="min-height: 320px">
                <p>Decks</p>
                <ul *ngFor="let d of game.decks; let i = index">
                  <li>{{ d.name }} - {{ d.cards.length }} cards</li>
                </ul>
                <p>Tokens</p>
                <p>Roles</p>
              </div>
            </div>
          </div>

          <div class="clr-col-6">
            <div class="card card-border">
              <div class="card-header">Game Basics</div>
              <div class="card-block" style="min-height: 320px">
                <ul>
                  <li>This is a turn-based educational card game</li>
                  <li>We have {{ game.decks.length }} decks, and each one has a purpose</li>
                  <li>We have {{ game.decks.length }} tokens, and each one has its effect(s)</li>
                  <li>We have {{ game.decks.length }} player roles, and each one has its effect(s)</li>
                  <li>In its turn, the player must solve challenges to get victory points</li>
                  <li>Wins the game the player who has more victory points</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-manual">
        <div class="clr-row">
          <div class="clr-col-12">
            <div class="card card-border">
              <div class="card-header">Game Rules</div>
              <div class="card-block" style="min-height: 320px">
                <div *ngFor="let r of ruleLines">
                  <hr *ngIf="r.includes('At')" />
                  <p>{{ r }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- deck expl -->
      <div class="page-manual">
        <div class="clr-row">
          <div class="clr-col-12" *ngFor="let d of game.decks; let i = index">
            <div class="card card-border">
              <div class="card-header">Deck {{ i }} - {{ d.name }}</div>
              <div class="card-block" style="min-height: 320px">
                <div class="clr-row">
                  <!-- deck fields -->
                  <div class="clr-col-6"></div>
                  <!-- expl -->
                  <div class="clr-col-6">
                    <div
                      class="card-wrapper"
                      [ngStyle]="{
                        'background-color': d.color
                      }"
                    >
                      <div class="card-margins">
                        <div class="card-game-header">Title</div>
                        <div class="card-game-body">
                          <div class="card-art" *ngIf="d.deckFront.art">card Art</div>
                          <div class="card-description">Card Description</div>
                          <div class="card-effect" *ngIf="d.deckFront.effect">Card Effect</div>
                        </div>
                        <div class="card-game-footer">
                          <div class="float-items-right clr-col-4 vertical-center-input" *ngIf="d.deckFront.cost">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26.87" height="26.87" viewBox="0 0 26.87 26.87">
                              <g
                                id="Retângulo_28"
                                data-name="Retângulo 28"
                                transform="translate(0 13.435) rotate(-45)"
                                fill="#e5ee9a"
                                stroke="#707070"
                                stroke-width="3"
                              >
                                <rect width="19" height="19" stroke="none" />
                                <rect x="1.5" y="1.5" width="16" height="16" fill="none" />
                              </g>
                            </svg>
                            <label class="card-point-label">Cost</label>
                          </div>

                          <div
                            class="float-items-right clr-col-4 vertical-center-input"
                            *ngIf="d.deckFront.level"
                            style="border-left: 1px solid #707070; border-right: 1px solid #707070"
                          >
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <g id="Elipse_5" data-name="Elipse 5" fill="#956aea" stroke="#707070" stroke-width="3">
                                <circle cx="12" cy="12" r="12" stroke="none" />
                                <circle cx="12" cy="12" r="10.5" fill="none" />
                              </g>
                            </svg>
                            <label class="card-point-label">Level</label>
                          </div>

                          <div class="float-items-right clr-col-4 vertical-center-input" *ngIf="d.deckFront.earning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24" viewBox="0 0 28 24">
                              <g id="Polígono_4" data-name="Polígono 4" fill="#66f9be">
                                <path
                                  d="M 25.38844108581543 22.5 L 2.611559152603149 22.5 L 14 2.976958513259888 L 25.38844108581543 22.5 Z"
                                  stroke="none"
                                />
                                <path
                                  d="M 14 5.953907012939453 L 5.223112106323242 21 L 22.77688789367676 21 L 14 5.953907012939453 M 14 0 L 28 24 L 0 24 L 14 0 Z"
                                  stroke="none"
                                  fill="#707070"
                                />
                              </g>
                            </svg>
                            <label class="card-point-label">Earning</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
