<div class="clr-col-12">
  <div class="content-area">
    <div class="card">
      <div class="card-header">D-CREAE</div>
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">Roteiro do Manual - Under Development</div>
              <div class="card-block">
                <p>Seguindo as definições de UGC, o resumo do jogo é como se segue:</p>
                <ul>
                  <li>Game Concept</li>
                  <li>Game Player</li>
                  <li>Game Interaction</li>
                  <li>Game Core (usando MDA)</li>
                  <li>Game Play & Flow (usando model-to-text)</li>
                  <li>Elementos do Jogo para impressão:</li>
                  <ul>
                    <li>Tokens</li>
                    <li>Cards</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>

          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">UGC Base</div>
              <div class="card-block">
                <img style="width: 100%; height: auto" src="../../../assets/UGC.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
