<div class="clr-col-12">
  <div class="content-area">
    <div class="card">
      <div class="card-header">D-CREAE</div>
      <div class="card-block">
        <div class="clr-row">
          <div class="clr-col-6">
            <div class="card">
              <div class="card-header">Game</div>
              <div class="card-block">
                <p>Game details:</p>
                <ul>
                  <li>name: {{ game.name }}</li>
                  <li>description: {{ game.description }}</li>
                  <li>audience: {{ game.audience }}</li>
                  <li>knowledgeField: {{ game.knowledgeField }}</li>
                  <li>requirements: {{ game.requirements }}</li>
                  <li>authors: {{ game.authors }}</li>
                  <li>NumberPlayers: from {{ game.minNumberPlayers }} up to {{ game.maxNumberPlayers }}</li>
                  <li>decks: {{ game.decks ? game.decks.length : "none" }}</li>
                  <li>states: {{ game.states ? game.states.length : "none" }}</li>
                  <!-- <li>Game Concept</li>
                  <li>Game Player</li>
                  <li>Game Interaction</li>
                  <li>Game Core (usando MDA)</li>
                  <li>Game Play & Flow (usando model-to-text)</li>
                  <li>Elementos do Jogo para impressão:</li>
                  <ul>
                    <li>Tokens</li>
                    <li>Cards</li>
                  </ul> -->
                </ul>
              </div>
              <div class="card-block">
                <button class="btn btn-primary float-items-right" (click)="createRules()">Check Rules</button>
              </div>
            </div>
          </div>

          <!-- <div class="clr-col-6">
            <div class="card">
              <div class="card-header">UGC Base</div>
              <div class="card-block">
                <img style="width: 100%; height: auto" src="../../../assets/UGC.png" />
              </div>
            </div>
          </div> -->

          <div class="clr-col-12">
            <div class="card">
              <div class="card-header">Rules</div>
              <div class="card-block">
                <div *ngFor="let r of ruleLines">
                  <hr *ngIf="r.includes('At')" />
                  <p>{{ r }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
