.page-manual {
  padding: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-inline: 6cm;
  border-radius: 0.7rem;
  min-height: 1280px;
  border: 5px double #52a798;
  background-color: white;
}

.card-border {
  border-bottom: 2px solid #52a798;
  border-right: 2px solid #52a798;
  border-radius: 0.4rem;
  box-shadow: 2px 5px 11px #888888;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
