<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-10">
      <div class="card">
        <div class="card-header">
          <div>Create a Game</div>
        </div>
        <div class="card-block">
          <clr-tabs>
            <clr-tab>
              <button clrTabLink>Game Details</button>
              <clr-tab-content *clrIfActive="true">
                <!-- game details -->
                <app-game-description-form></app-game-description-form>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Gameplay</button>
              <clr-tab-content *clrIfActive>
                <!-- Gameplay edit -->
                <app-gameplay></app-gameplay>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Decks</button>
              <clr-tab-content *clrIfActive> </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Resumo</button>
              <clr-tab-content *clrIfActive> </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </div>
      </div>
    </div>
    <div class="clr-col-2">
      <div class="card"></div>
    </div>
  </div>
</div>
