<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-12">
      <div class="card" style="margin: 5px 0px; min-height: 100%">
        <div class="card-header">
          <div>Create a Game</div>
        </div>
        <div class="card-block">
          <clr-tabs>
            <clr-tab>
              <button class="btn-tab-details" clrTabLink>Game Details</button>
              <clr-tab-content *clrIfActive="true">
                <!-- game details -->
                <app-game-description-form></app-game-description-form>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Gameplay</button>
              <clr-tab-content *clrIfActive>
                <!-- Gameplay edit -->
                <app-gameplay></app-gameplay>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Decks</button>
              <clr-tab-content *clrIfActive>
                <app-deck></app-deck>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Resumo</button>
              <clr-tab-content *clrIfActive>
                <app-summary></app-summary>
              </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </div>
      </div>
    </div>
  </div>
</div>
